body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navdetails {
    display: flex;
}

.navdetails p {
    margin-right: 20px;
}

.login-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    margin: 50px auto;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333333;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #45a049;
}

.login-container input[type="submit"]:focus {
    outline: none;
}

.login-container input[type="submit"]:active {
    background-color: #3e8e41;
}

.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus {
    border-color: #4CAF50;
    outline: none;
}

.login-container input[type="text"]::placeholder,
.login-container input[type="password"]::placeholder {
    color: #999999;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 150%;
}

.Credentials{
    font-size: inherit;
    display: flex;
    justify-content: center;
    position: inherit;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    margin: 50px auto;
}